{% extends "questionnaire.html" %}

{% block content %}
    <h3 class="text-center">显示问卷内容</h3>
    <div class="container-fluid"
         style="margin-bottom: 15px; padding: 5px 10px; width: 100%; height: 50px">
        <div class="pull-right">

            <button class="btn btn-primary pull-right add-question">添加</button>
            <button class="btn btn-success pull-right save-question" style="margin-right: 10px;">保存</button>
        </div>
    </div>
    <ol>
            <div class='container-fluid question-list'
                 style="padding: 5px 10px;margin-bottom: 15px; height: auto;width: 100%;background-color: #e1e1e1">
                <li>
                    <i class=" pull-right glyphicon glyphicon-remove"></i>
                    {% csrf_token %}
                    <div style="margin-left: 80px; margin-top: 10px; margin-bottom: 10px;padding-bottom:15px">
                        <div style="margin-bottom: 10px">
                            <label for="" style="padding-right: 10px">问题:</label>
                            {{ foo.form.caption }}
                        </div>
                        <div class="option-type">
                            <label for="" style="padding-right: 10px">类型</label>
                            {{ foo.form.tp }}
                            {#                                <button class="add-option-type"></button>#}
                            <button class="{{ foo.option_class }} add-option-type">添加选项</button>
                        </div>
                        <div class="option-li">
                            <ul id="option-li">
                                {% for item in foo.options %}
                                    <li id="{{ item.obj.id }}">{{ item.form }}
                                        {#                                            <a href="" class="glyphicon glyphicon-remove"></a>#}
                                        <span><i class="glyphicon glyphicon-remove"></i></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            </div>
            {#            </form>#}
        {% endfor %}
    </ol>
    <script>

    </script>
{% endblock %}